# Core LangChain (pre-1.0)
langchain==0.3.27
langchain-community>=0.0.166
# LangChain community modules
chromadb ==0.6.3
langchain-groq ==0.3.8

# Embeddings
sentence-transformers == 2.2.2
transformers  ==4.33.2
torch ==2.2.0
langchain-text-splitters==0.3.9

# FastAPI stack
fastapi==0.104.0
uvicorn[standard]==0.24.0

# OpenAI
openai>=1.6.0

# Utilities
python-dotenv
pdf2image
pytesseract
Pillow
python-multipart
python-docx
